<div
  [sJss]="{
    display: 'flex',
    justifyContent: 'space-between',
    flexDirection: 'column',
    padding: theme.spacing(3)
  }"
>
  <h6 [sJss]="{ color: theme.palette.secondary.main }">
    This a theme handler example
  </h6>
  <body [sJss]="{ color: theme.palette.secondary.light }">
    This a theme handler example
  </body>
  <div [sJss]="{ marginTop: theme.spacing(3), display: 'flex' }">
    <div [sJss]="{ backgroundColor: 'blue', padding: theme.spacing(8) }">
      ml;
    </div>
    <div [sJss]="{ backgroundColor: 'blue', padding: theme.spacing(8) }">
      ml;
    </div>
  </div>

  <div></div>
</div>
