<div
  [sJss]="{
    display: 'flex',
    justifyContent: 'space-between',
    flexDirection: 'column',
    padding: theme.spacing(3)
  }"
>
  <h6 [sJss]="{ color: theme.palette.secondary.main }">
    This a theme handler example
  </h6>

  <span
    [sJss]="{ color: theme.palette.common.black, marginTop: theme.spacing(3) }"
  >
    theme.palette.primary.
  </span>

  <div [sJss]="{ marginTop: theme.spacing(3), display: 'flex', justifyContent:'space-between', flexDirection:{sm:'row', md:'column'} }">
    <div
      [sJss]="{
        backgroundColor: theme.palette.primary.main,
        padding: theme.spacing(8)
      }"
    >
      <span [sJss]="{ color: theme.palette.primary.contrastText }">main</span>
    </div>
    <div
      [sJss]="{
        backgroundColor: theme.palette.primary.light,
        padding: theme.spacing(8)
      }"
    >
      <span [sJss]="{ color: theme.palette.primary.contrastText }">light</span>
    </div>
    <div
      [sJss]="{
        backgroundColor: theme.palette.primary.dark,
        padding: theme.spacing(8)
      }"
    >
      <span [sJss]="{ color: theme.palette.primary.contrastText }">dark</span>
    </div>
    
  </div>

  <span
    [sJss]="{ color: theme.palette.common.black, marginTop: theme.spacing(3) }"
  >
    theme.palette.secondary.
  </span>

  <div [sJss]="{ marginTop: theme.spacing(3), display: 'flex', justifyContent:'space-between', flexDirection:{sm:'row', md:'column'} }">
    <div
      [sJss]="{
        backgroundColor: theme.palette.secondary.main,
        padding: theme.spacing(8)
      }"
    >
      <span [sJss]="{ color: theme.palette.secondary.contrastText }">main</span>
    </div>
    <div
      [sJss]="{
        backgroundColor: theme.palette.secondary.light,
        padding: theme.spacing(8)
      }"
    >
      <span [sJss]="{ color: theme.palette.secondary.contrastText }">light</span>
    </div>
    <div
      [sJss]="{
        backgroundColor: theme.palette.secondary.dark,
        padding: theme.spacing(8)
      }"
    >
      <span [sJss]="{ color: theme.palette.secondary.contrastText }">dark</span>
    </div>
    
  </div>

  <div></div>
</div>
